lily_collection/dist/uploads/
order_management/dist/uploads/
quick_start/dist/uploads/
OMS/dist/uploads/
onlineoffers/dist/uploads/
quick_start/dist/uploads/
royal_deals/dist/uploads/
shoplix/dist/uploads/
zyra_luxe/dist/uploads/